
@{ ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/Admin_Layout.cshtml"; }


<div class="container" style="margin-bottom:100px; margin-right:-25px">
    <div class="row row-cols-1 row-cols-md-3">


        <div class="col-md-3">
            <div class="jumbotron" style="height: 120px; width: 190px; border-radius: 50px; margin-top: 50px">
                <div class="card h-100">
                    <div class="col-xs-3" style="align-self:center;margin-top:10px; font-weight:bolder">
                        <i class="fa fa-clock-o fa-5x">TimeSheet Stat</i>
                    </div>

                    <div class="huge" style="align-self:center">Submitted Count :@ViewBag.SubmittedTimesheetCount</div>
                    <div class="huge" style="align-self :center">Approved Count  :@ViewBag.ApprovedTimesheetCount</div>
                    <div class="huge" style="align-self:center">Rejected Count   :@ViewBag.RejectedTimesheetCount</div>
                    @*<div>TimeSheet Submitted Count!</div>*@
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="jumbotron" style="height: 120px; width: 190px; border-radius: 50px; margin-top: 50px">
                <div class="card h-100">
                    <div class="img-responsive">
                        <img src="~/Content/Images/AddUpdateProj.svg" style="height:40px;width:60px; margin-top:30px; margin-left:60px" class="card-img-top" alt="..."><br />
                        <h6 class="card-title" style="font-size:medium; margin-top:5px;margin-left:50px">@Html.ActionLink("Add Project","AddProject", "ManageProject")</h6>
                        <div class="card-body">
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="col-md-3">
            <div class="jumbotron" style="height: 120px; width: 190px; border-radius: 50px; margin-top: 50px">
                <div class="card h-100">
                    <div class="img-responsive">
                        <img src="~/Content/Images/SearchProj.svg" style="height:40px;width:60px; margin-top:30px; margin-left:60px" class="card-img-top" alt="...">
                        <h6 class="card-title" style="font-size:medium; margin-top:5px;margin-left:40px"> @Html.ActionLink("Search Project", "SearchProject", "ManageProject")</h6>
                        <div class="card-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="jumbotron" style="height: 120px; width: 190px; border-radius: 50px; margin-top: 50px">
                <div class="card h-100">
                    <div class="img-responsive">
                        <img src="~/Content/Images/ViewProj.svg" style="height:40px;width:60px; margin-top:30px; margin-left:60px" class="card-img-top" alt="...">
                        <h6 class="card-title" style="font-size:medium; margin-top:5px;margin-left:40px"> @Html.ActionLink("View Project", "ViewProject", "ManageProject") </h6 >
                         <div class="card-body">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="jumbotron" style="height: 120px; width: 190px; border-radius: 50px; margin-top: 50px ">
                                <div class="card h-100">
                                    <div class="img-responsive">
                                        <img src = "~/Content/Images/AllowTimesheet.svg" style="height:40px;width:60px; margin-top:30px; margin-left:60px" class="card-img-top" alt="...">
                                        <h6 class="card-title" style="font-size:medium; margin-top:5px;margin-left:30px"><strong>Allow Timesheet</strong></h6>
                                        <div class="card-body">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="jumbotron" style="height:120px;width:190px;border-radius:50px; margin-top:50px">
                                <div class="card h-100">
                                    <div class="img-responsive">
                                        <img src = "~/Content/Images/ApproveUserTimesheet.svg" style="height:40px;width:60px; margin-top:30px; margin-left:60px" class="card-img-top" alt="...">
                                        <h6 class="card-title" style="font-size:medium; margin-top:5px;margin-left:40px"><a href = "RedirectToAspx" > Approve User Timesheet</a></h6>
                                        <div class="card-body">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="jumbotron" style="height:120px;width:190px;border-radius:50px; margin-top:50px">
                                <div class="card h-100">
                                    <div class="img-responsive">
                                        <img src = "~/Content/Images/UserCheckInOut.svg" style="height:40px;width:60px; margin-top:30px; margin-left:60px" class="card-img-top" alt="...">
                                        <h6 class="card-title" style="font-size:medium; margin-top:5px;margin-left:30px"><strong>User Check In Out</strong></h6>
                                        <div class="card-body">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="jumbotron" style="height: 120px; width: 190px; border-radius: 50px; margin-top: 50px">
                                <div class="card h-100">
                                    <div class="col-xs-3" style="align-self:center;margin-top:10px; font-weight:bolder">
                                        <i class="fa fa-clock-o fa-5x">TimeSheet Stat</i>
                                    </div>

                                    <div class="huge" style="align-self:center">Submitted Count :@ViewBag.SubmittedTimesheetCount</div>
                                    <div class="huge" style="align-self :center">Approved Count  :@ViewBag.ApprovedTimesheetCount</div>
                                    <div class="huge" style="align-self:center">Rejected Count   :@ViewBag.RejectedTimesheetCount</div>
                        @*<div>TimeSheet Submitted Count!</div>*@
</div>
            </div>
        </div>
        </div>


    </div>
